<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdv64A0Zl9Y2BsFCTZ7JMexZctYoBytLs</string>
	<key>GCM_SENDER_ID</key>
	<string>619769580202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecoapp</string>
	<key>PROJECT_ID</key>
	<string>dbecoinnova-92ea5</string>
	<key>STORAGE_BUCKET</key>
	<string>dbecoinnova-92ea5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619769580202:ios:32e2515b1ba0f5df5f1ed3</string>
</dict>
</plist>